<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo"><span>Online </span>NoteBook</div>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li> 
                <li><a href="/subject">Subject</a></li>
                <li><a href="/question">Q&A</a></li>    
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    
    <div class="contact-info">
        <h2>Contact Information</h2>
        <div class="info">
            <div class="item">
                <h3>Email</h3>
                <p>roshinikandula2003@gmail.com</p>
            
                <h3>Phone</h3>
                <p>+91 7989152100</p>
            
                <h3>Address</h3>
                <p>Vizag,Andhra Pradesh</p>
            </div>
        </div>
        <div class="info">
            <div class="item">
                <h3>Email</h3>
                <p>khushikejriwal23@gmail.com</p>
            
                <h3>Phone</h3>
                <p>+91 77940 14709</p>
            
                <h3>Address</h3>
                <p>Vizianagaram,Andhra Pradesh</p>
            </div>
        </div>
        <div class="info">
            <div class="item">
                <h3>Email</h3>
                <p>jamisunand04@gmail.com</p>
            
                <h3>Phone</h3>
                <p>+91 9059886227</p>
            
                <h3>Address</h3>
                <p>Vizag,Andhra Pradesh</p>
            </div>
        </div>
    </div>
</body>
</html>
